<template>
    <div class="container-fluid">
        <div class="alert alert-success" v-if="message">{{ message }}</div>
        <div class="row">
            <div class="col-md">
                <div class="card mt-2 mb-4">
                    <div class="card-body w-75 m-auto">
                        <div class="text-center">
                            <h2>Добавить</h2>
                        </div>
                        <div class="form-group d-flex">
                            <div class="m-auto">
                                <span>Наименование</span>
                            </div>
                            <input type="text" class="form-control ml-4 mr-2 text-right" placeholder="Например: Москва" id="name" v-model="marker.name" required/>
                        </div>
                        <div class="form-group d-flex">
                            <div class="m-auto">
                                <span>Долгота</span>
                            </div>
                            <input type="number" class="form-control ml-4 mr-2 text-right" id="latitude" name='latitude'
                                   v-model="marker.latitude" placeholder="от 0 до 180"
                                   min="0" max="180" required/>
                        </div>
                        <div class="form-group d-flex">
                            <div class="m-auto">
                                <span>Широта</span>
                            </div>
                            <input type="number" class="form-control ml-4 mr-2 text-right" id="longitude"
                                   placeholder="от -90 до 90" min="-90" max="90" v-model="marker.longitude" required/>
                        </div>

                        <button type="submit" @click="addMarker" :disabled="isDisabled"
                                class="btn btn-outline-primary text-center w-75">
                            {{ addButton }}
                        </button>

                    </div>
                </div>
                <div class="card cardTable mt-2 mb-2 p-0">
                    <div class="m-3 text-center">
                        <button type="submit" @click="getMyCoords"
                                class="btn btn-outline-success text-center w-75 m-auto"> Где я
                        </button>
                    </div>
                    <div class="cardBody">
                        <div class="table-wrap mt-2">
                            <table class="table table-hover m-0">
                                <thead>
                                <tr scope="row">
                                    <th scope="col">Название</th>
                                    <th scope="col">Долгота</th>
                                    <th scope="col">Широта</th>
                                    <th scope="col">Редактировать</th>
                                    <th scope="col">Удалить</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr scope="row" v-for="post in posts" :key="post.id" @click="selectMarker(post)">
                                    <td>{{ post.name }}</td>
                                    <td>{{ post.latitude }}</td>
                                    <td>{{ post.longitude }}</td>
                                    <td>
                                        <button type="button" @click="updateMarker(post)" class="btn btn-outline-info">
                                            Редактировать
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" @click="deleteMarker(post.id)"
                                                class="btn btn-outline-danger">
                                            Удалить
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <yandex-map :coords="coords" :zoom="zoom">
                    <ymap-marker
                        marker-id="0"
                        :coords="coords"
                        :balloon="{header: 'Я' }"></ymap-marker>
                    <template v-for="geoItem in posts">
                        <ymap-marker
                            marker-id="geoItem.id"
                            :coords="[geoItem.longitude,geoItem.latitude]"
                            :balloon="{header: geoItem.name }"></ymap-marker>
                    </template>
                </yandex-map>
            </div>
        </div>
    </div>
</template>

<script>
import {yandexMap, ymapMarker} from 'vue-yandex-maps'
import axios from 'axios'

export default {
    components: {yandexMap, ymapMarker},

    data() {
        return {
            posts: [],
            marker: {
                id: null,
                idUser: null,
                name: "",
                longitude: "",
                latitude: ""
            },
            submitted: false,
            addButton: "Добавить",
            isNew: true,
            coords: [55.755225, 37.616087],
            myCoord: [],
            zoom: 15,
            message: '',
            isSelected : false
        }
    },
    created() {
        this.loadData();
    },
    computed: {
        isDisabled() {
            console.log(this.marker.longitude)
            console.log(this.marker.latitude)
            if (this.marker.name != '' && this.marker.latitude != ''
                && this.marker.longitude <= 90 && this.marker.longitude >= -90
                && this.marker.latitude >= 0 && this.marker.latitude <= 180
                && this.marker.longitude != '' && this.marker.latitude != null
                && this.marker.longitude != null) {
                return false;
            } else return true;

        }
    },
    methods: {
        //get Geolocation
        success(pos) {
            this.myCoord = [pos.coords.latitude, pos.coords.longitude];
            this.coords = this.myCoord;
        },
        //Geolocation error
        error() {
            console.log('error')
        },
        //Get user native location
        getMyCoords() {
            if(this.isSelected) {
                this.coords = this.myCoord;
                this.zoom = 15;
            }else {
                this.messages('Изначально нужно выбрать другую метку')
            }

        },
        //Load markers
        loadData() {
            axios.get("http://127.0.0.1:8000/api/marker").then(data => this.posts = data.data);
            // geolocation
            navigator.geolocation.getCurrentPosition(this.success, this.error);

        },
        //Add and Update markers
        addMarker() {
            if (this.isNew) {
                let data = {
                    name: this.marker.name,
                    longitude: this.marker.latitude,
                    latitude: this.marker.longitude
                };
                let uri = 'http://127.0.0.1:8000/api/marker';
                axios.post(uri, data).then((response) => {
                    this.loadData();
                    this.marker = {};
                    this.messages('Данные успешно добавлены');
                });
            } else {
                let uri = `http://127.0.0.1:8000/api/marker/${this.marker.id}`;
                let data = {
                    name: this.marker.name,
                    longitude: this.marker.latitude,
                    latitude: this.marker.longitude
                };
                axios.put(uri, data).then((response) => {
                    this.marker = {};
                    this.isNew = true;
                    this.addButton = "Добавить"
                    this.loadData();
                    this.messages('Данные успешно изменены');

                });
            }
        },
        //Delite marker
        deleteMarker(id) {
            let uri = `http://127.0.0.1:8000/api/marker/${id}`;
            axios.delete(uri).then(response => {
                this.loadData();
                this.messages('Данные успешно удалены');
            });
        },
        //Update marker config
        updateMarker(data) {
            this.marker = {
                id: data.id,
                idUser: data.idUser,
                name: data.name,
                longitude: data.longitude,
                latitude: data.latitude
            }
            this.isNew = false;
            this.addButton = "Изменить"

        },
        //Select marker
        selectMarker(post) {
            this.coords = [post.latitude, post.longitude];
            this.zoom = 15;
            this.isSelected = true;
        },
        //Alert message
        messages(data) {
            this.message = data;
            setTimeout(() => {
                this.message = '';
            }, 4000);

        }
    },
};
</script>

<style>
.ymap-container {
    height: 83vh;
    width: 100%;
}

.cardBody {
    height: 250px;
    overflow-x: auto;
}

.form-control {
    max-width: 350px;
}

.btn{
    border-radius: 20px;
}

</style>
